
@media (max-width:1024px){
    #Container .Texto__vagas--container{
        font-size: 0.9em;
    }
    #Container .capa_ps .btn_inscrever{
        bottom:40%;
        left:65%;
    }
    #Container  .capa_ps p{
        font-size: 0.6em;
        padding: 1px 15px 1px 15px;
    }
    #Container .capa_ps  .btn_inscrever a{
        font-size: 0.8em ;
    }
    
}

#Container .range-filter{
    width: 90%;

}
#Container .price-controls input { 
    width:4em;
}

@media(max-width:768px){
    #Container .capa_ps .btn_inscrever{
        bottom:40%;
        left:60%;
    }
    #Container .capa_ps p{
        font-size: 0.5em;
        padding: 1px 5px;
    }
    #Container .capa_ps .Empresa{
        font-size: 0.5em;
        padding: 1px 15px;
    }

    #Container .capa_ps  .btn_inscrever a{
        font-size: 0.7em ;
    }
    #Container .capa_ps .Texto__vagas--container{
        font-size: 0.7em;
    }
    #Container .container_busca #busca{
        height: 50px;
        width: 60%;
        font-size: 2em;
    }
    #Container #filtros h3{
        font-size:1.2em;
    }

    #Container #filtros h2{
        font-size:1.8em;
    }
}
@media(max-width:476px){
    header .nav__green .texto__principal:nth-child(1){
        font-size: 30px;
        margin-left: 5px;
        position: relative;
        right:30%;
        top:25%;

    }
    header .nav__green .texto__principal:nth-child(2){
        font-size: 40px;
        margin-left: 5px;
        position: relative;
        right:35%;
        margin-top: 25px;
        top:25%

    }
    #Container #filtros{
        display:block;
        width:50%; 
        height: auto;
        right: 30%;
        border-radius: 5px;
    }
     .container_busca #busca  {
        display: none;
    
    }
    #Container .container_busca #busca{
        width: 60%;
    }

  header .nav__green .lupa{
        display:block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
  
    header .nav__green .busca_reponsive{
        display: flex;
        position: relative;
        left:30%;
        top:70%;
    }
    header .nav__green .busca_reponsive span{
        display: flex;
        position: relative;
        top: 12%;
        left: 10%;
        cursor: pointer;
    }
    #Container .capa_ps{
        margin-left: 0;
        margin-right: 0;
        width: 300px;
        font-size: 1.4em;
    }
    #Container #ContainerCapa{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 10px;
        position: relative;
        left: 12%;
        
       
    }
   #Container .Requisitos .btn_inscrever{
        left: 65%;
    }
    #Container .capa_ps .btn_inscrever{
        left: 80%;
        bottom: 30%;
    }
    #Container #ContainerRequisitos{
        right: 10%;
    }
    #Container .Requisitos{
        width: 20em;
    }
    #Container .btn_voltar{
        left: 45%;
    }
    #Container .capa_ps .Texto__vagas--container{
        font-size: 0.6em;
    }

}
@media (max-width: 425px){
    #Container .capa_ps{
        
        width: 300px;
        font-size: 1.4em;  
       
    }
}
@media(max-width:376px){
    #Container .capa_ps{
        
        width: 300px;
        font-size: 1.4em;  
       
    }
       #Container #ContainerCapa{
        left:0%
       }
   
}
@media(max-width:325px){
 
    header .nav__green .busca_reponsive{
        display: flex;
        position: relative;
        left:25%;
        top:70%;
    }
    #Container .capa_ps{
        
        width: 250px;
        font-size: 1.2em;  
       
    }
       #Container #ContainerCapa{
        left:0%
       }
    #Container .capa_ps .Texto__vagas--container{
        font-size: 0.6em;
    }
    #Container  .capa_ps{
        padding: 2px;
    }
 #Container   .capa_ps .btn_inscrever{
        left: 70%;
        top:-12%;
        
    }
    #Container .Requisitos{
        width: 15em;
    }
    #Container .btn_voltar{
        left: 40%;
    }

}