@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (max-width:1024px){
    #Container .Texto__vagas--container{
        font-size: 0.9em;
    }
    #Container .capa_ps .btn_inscrever{
        bottom:40%;
        left:65%;
    }
    #Container  .capa_ps p{
        font-size: 0.6em;
        padding: 1px 15px 1px 15px;
    }
    #Container .capa_ps  .btn_inscrever a{
        font-size: 0.8em ;
    }
  
}
#Container .range-filter{
    width: 90%;

}
#Container .price-controls input { 
    width:4em;
}

@media(max-width:768px){
    #Container .capa_ps .btn_inscrever{
        bottom:40%;
        left:60%;
    }
    #Container .capa_ps p{
        font-size: 0.5em;
        padding: 1px 5px;
    }
    #Container .capa_ps .Empresa{
        font-size: 0.5em;
        padding: 1px 15px;
    }

    #Container .capa_ps  .btn_inscrever a{
        font-size: 0.6em ;
    }
    #Container .capa_ps .Texto__vagas--container{
        font-size: 0.7em;
    }
    #Container .container_busca #busca{
        height: 50px;
        width: 60%;
        font-size: 2em;
    }
    #Container #filtros h3{
        font-size:1.2em;
    }

    #Container #filtros h2{
        font-size:1.8em;
    }
}
@media(max-width:476px){
    header .nav__green .texto__principal:nth-child(1){
        font-size: 30px;
        margin-left: 5px;
        position: relative;
        right:30%;
        top:25%;

    }
    header .nav__green .texto__principal:nth-child(2){
        font-size: 40px;
        margin-left: 5px;
        position: relative;
        right:35%;
        margin-top: 25px;
        top:25%

    }
    #Container #filtros{
        display:none;
    }
     .container_busca #busca  {
        display: none;
    
    }
    #Container .container_busca #busca{
        width: 60%;
    }

  header .nav__green .lupa{
        display:block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
  
    header .nav__green .busca_reponsive{
        display: flex;
        position: relative;
        left:30%;
        top:70%;
    }
    header .nav__green .busca_reponsive span{
        display: flex;
        position: relative;
        top: 12%;
        left: 10%;
        cursor: pointer;
    }
    #Container .capa_ps{
        width: 200px;
    }
   #Container .Requisitos .btn_inscrever{
        left: 65%;
    }
    #Container .capa_ps .btn_inscrever{
        left: 75%;
        bottom: 20%;
    }
    #Container #filtros{
        left:-1%;
        width: 170px;
    }
    #Container #ContainerRequisitos{
        right: 10%;
    }
    #Container .capa_ps .Texto__vagas--container{
        font-size: 0.6em;
    }

}
@media(max-width:376px){
       #Container #ContainerCapa{
        left:0%
       }
   
}
@media(max-width:325px){
 
    header .nav__green .busca_reponsive{
        display: flex;
        position: relative;
        left:25%;
        top:70%;
    }
    #Container  .capa_ps{
        padding: 2px;
    }
 #Container   .capa_ps .btn_inscrever{
        left: 50%;
        top:-10%;
        
    }

}
:root{
    --font: "Bebas Neue", sans-serif;
    --corVerde:#6DEE9C ;
    --cor1:#121117 ;
    --cor2:#27272A ;
    --cor3:#434343;
    --cor4: #D9D9D9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--cor1);
}
.lupa{
    display: none;
}

.busca_reponsive{
    display: none;
}
.nav__green{
    padding: 10px 0 10px 0;
    background-color: var(--corVerde) ;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
    background-size: cover;
}

.nav__green .texto__principal:nth-child(1){
   font-family: var(--font);
   text-align: center;
   color: white;
   width: 10px;
   position: absolute;
   font-size: 40px;
   margin-left: 30px;
   text-shadow: 0 3px 7px var(--cor1);
}

.nav__green .texto__principal:nth-child(2){
    font-family: var(--font);
    text-align: center;
    color: white;
    font-size: 40px;
    width: 10px;
    margin-top: 35px;
    font-size: 66px;
    letter-spacing: 5px;
    text-shadow: 0 3px 7px var(--cor1);
    padding: 7px;
}

#ContainerCapa{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 10px;
    position: relative;
    left: 10%;
    
   
}

.Requisitos,.capa_ps{
    background-color: var(--cor4);
    border: 2px solid black;
    margin: 5px;
    width: auto;
}
.capa_ps{
    width: 25vw;
    height: 110px;
    border-radius: 5px;
    border: none;
    padding: 5px 30px 5px 30px;
    margin: 1vw 1vh;
    background-repeat: no-repeat;
    
   
}

#ContainerRequisitos{
    width: auto;
    position: relative;
    right: 25%;
}

.container_busca{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#busca {
    font-family: var(--font);
    padding: 10px;
    border-radius: 46px;
    width: 900px;
    height: 70px;
    border: none;
    background-color: var(--cor4);
    font-size: 30px;
    background-image: url("https://f55f12fe8ec0186f.cdn.gocache.net/assets/2022/icon-search-c60be760ea96bed84b8b98d6bb4db16883fddf5fb962fa56ba4a84896b2f1fc0.svg");
    background-repeat: no-repeat;
    background-position: 95%;
}

 
input::placeholder{
    text-align: center;
    opacity: 8%;
    color: var(--cor1);
}

.Requisitos{
    display: none;
    width: auto;
    border-radius: 5px;
    padding: 0.5em;
}
.Requisitos .btn_inscrever {
    position: relative;
    left: 90%;
    bottom: 40%;
}


#filtros{
    display:block;
    width: 19%; /* largura desejada */
    margin-top: 1.8%; /* margem superior */
    margin-bottom: 0; /* margem inferior */
    margin-left: auto; /* margem à esquerda, ajusta automaticamente */
    margin-right: 0; /* margem à direita, ajusta automaticamente */  
    border-radius: 5px 0 0 5px;
    position: relative;
    background-color: var(--corVerde);
    background-size: cover;
}

#Container{
    display:flex;
    justify-content: center;
    margin-top: 2%;
}

.Texto__vagas--container {
    font-family: var(--font);
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 0.5vh;   
}

.Localidade {
    font-family: var(--font);
    background-color: var(--cor3);
    color: var(--cor4);
    border-radius: 10px;
    border: none;
    display: inline;
    align-items: center;
    padding: 1px 15px 1px 15px;
    font-size: 12px;
}

.modelotrabalho {
    font-family: var(--font);
    background-color: var(--corVerde);
    color: var(--cor1);
    border-radius: 10px;
    border: none;
    display: inline;
    align-items: center;
    padding: 1px 20px 1px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    left: 10px;
}

.Empresa{
    font-family: var(--font);
    color: var(--cor1);
    font-size: 15px;
    position: relative;
    top: 20%;
    left: 20%;
}

.btn_inscrever {
    position: relative;
    left: 72%;
    bottom: 40%;
    font-family: var(--font);
    background-color: var(--cor3);
    padding: 2px 1vw 2px 1vw;
    border-radius: 5px;
    border: none;
}
.btn_voltar{
    position: relative;
    left: 72%;
    bottom: 40%;
    font-family: var(--font);
    background-color: var(--cor3);
    padding: 2px 1vw 2px 1vw;
    border-radius: 5px;
    border: none;
    color: var(--cor4);
    font-size: 1rem;
    letter-spacing: 1px;
}

.btn_inscrever, a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor4);
    font-size: 1rem;
    letter-spacing: 1px;
}


.imagem_empresa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: var(--cor4) solid;
    position: relative;
    bottom: 6%;
}

.Texto_filtro--container {
    font-family: var(--font);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    text-shadow: 0 0 0.2px var(--cor1)
}

.Texto_principal--checbox {
    font-family: var(--font);
    font-size: 30px;
    text-shadow: 0 0 0.2px var(--cor1);
    margin: 20px 0 10px 10%;
}

.filtro_Localidade {
    overflow: auto;
    height: 20%;
    width: 100;
    margin: 20px 0 10px 10%; 
}

.filtro_Empresa {
    overflow: auto;
    height: 10%;
    width: 100;
    margin: 20px 0 10px 10%; 
}

.Texto__modeloTrabalho {
    margin: 20px 0 10px 10%; 
}

#Presencial, #Remoto
,#híbrido{
    margin: 0 0 10px 10%;
}
.min-price,
.max-price {
    font-family: var(--font);
}

.range-filter {
    width: 240px;
    margin: 30px auto;
    position: relative;
    right: 3%;
  }
  
  .range-controls {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .range-controls .scale {
    flex: 0 0 100%;
    height: 3px;
    background-color: #ccc;
  }
  
  .range-controls .bar {
    height: 3px;
    background-color: green;
  }
  
  .range-toggle {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 22px;
    height: 22px;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 1px 0 #cfcfcf;
  }
  
  .range-toggle-min {
     left: 1%;
  }
  
  .range-toggle-max {
    left: 60%;
  }
  
  .price-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls input {
    display: inline-block;
    width: 80px;
    padding: 8px 10px;
    margin-left: 10%;
    border: none;
    background-color: #f1f1f1;
  
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #212121;
    border-radius: 5px;
  }
  
  .price-controls label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
