@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root{
    --font: "Bebas Neue", sans-serif;
    --corVerde:#6DEE9C ;
    --cor1:#121117 ;
    --cor2:#27272A ;
    --cor3:#434343;
    --cor4: #D9D9D9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--cor1);
}

.nav__green{
    padding: 10px 0 10px 0;
    background-color: var(--corVerde) ;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
    background-size: cover;
}

.nav__green .texto__principal:nth-child(1){
   font-family: var(--font);
   text-align: center;
   color: white;
   font-size: 40px;
   width: 10px;
   position: absolute;
   font-size: 40px;
   margin-left: 30px;
   text-shadow: 0 3px 7px var(--cor1);
}

.nav__green .texto__principal:nth-child(2){
    font-family: var(--font);
    text-align: center;
    color: white;
    font-size: 40px;
    width: 10px;
    margin-top: 35px;
    font-size: 66px;
    letter-spacing: 5px;
    text-shadow: 0 3px 7px var(--cor1);
    padding: 7px;
}

#ContainerCapa{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 10px;
    position: relative;
    left: 10%;
   
}

.Requisitos,.capa_ps{
    background-color: var(--cor4);
    border: 2px solid black;
    margin: 5px;
    width: auto;
}
.capa_ps{
    width: 25vw;
    height: 110px;
    border-radius: 5px;
    border: none;
    padding: 5px 30px 5px 30px;
    margin: 20px 30px 10px 30px;
    background-repeat: no-repeat;
   
}

.container_busca{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#busca {
    font-family: var(--font);
    padding: 10px;
    border-radius: 46px;
    width: 900px;
    height: 70px;
    border: none;
    background-color: var(--cor4);
    font-size: 30px;
    background-image: url("https://f55f12fe8ec0186f.cdn.gocache.net/assets/2022/icon-search-c60be760ea96bed84b8b98d6bb4db16883fddf5fb962fa56ba4a84896b2f1fc0.svg");
    background-repeat: no-repeat;
    background-position: 95%;
}

 
input::placeholder{
    text-align: center;
    opacity: 8%;
    color: var(--cor1);
}

.Requisitos{
    display: none;
    width: 450px;
    border-radius: 5px;
}


#filtros{
    
    width: 19%; /* largura desejada */
    margin-top: 0; /* margem superior */
    margin-bottom: 0; /* margem inferior */
    margin-left: auto; /* margem à esquerda, ajusta automaticamente */
    margin-right: auto; /* margem à direita, ajusta automaticamente */  
    border-radius: 5px 0 0 5px;
    position: relative;
    left: 13%;
    background-color: var(--corVerde);
    background-size: cover;
}

#Container{
    display:flex;
    justify-content: center;
    margin-top: 2%;
}

.Texto__vagas--container {
    font-family: var(--font);
    letter-spacing: 2px;
    margin-top: 5px;   
}

.Localidade {
    font-family: var(--font);
    background-color: var(--cor3);
    color: var(--cor4);
    border-radius: 10px;
    border: none;
    display: inline;
    align-items: center;
    padding: 1px 15px 1px 15px;
    font-size: 12px;
}

.modelotrabalho {
    font-family: var(--font);
    background-color: var(--corVerde);
    color: var(--cor1);
    border-radius: 10px;
    border: none;
    display: inline;
    align-items: center;
    padding: 1px 20px 1px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    left: 10px;
}

.Empresa{
    font-family: var(--font);
    color: var(--cor1);
    font-size: 15px;
    position: relative;
    top: 20%;
    left: 20%;
}

.btn_inscrever {
    position: relative;
    left: 65%;
    bottom: 20%;
    font-family: var(--font);
    background-color: var(--cor3);
    padding: 2px 20px 2px 20px;
    border-radius: 5px;
    border: none;
}

.btn_inscrever, a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor4);
    font-size: 19px;
    letter-spacing: 1px;
}


.imagem_empresa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: var(--cor4) solid;
    position: relative;
    bottom: 6%;
}

.Texto_filtro--container {
    font-family: var(--font);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    text-shadow: 0 0 0.2px var(--cor1)
}

.Texto_principal--checbox {
    font-family: var(--font);
    font-size: 30px;
    text-shadow: 0 0 0.2px var(--cor1);
    margin: 20px 0 10px 10%;
}
